    @import "_typography.scss";
//Colors
$darkBlue: #0B2647;
$lightBlue: #223FA1;
$lightRed: #A0261A;
$darkRed: #602618;
//Header
.navbar-header {
    height: 90px;
    a {
        font-size: 2.5em;
    }
    a > img {
        max-height: 60px;
        color: black;
        display: block;
        float: left;
    }
}
    .navbar {
        background: rgba(255, 255, 255, 0.87);
        border:none;
        .navbar-toggle {
            color: black;
        }
    }
    .heroImage {
        height: 450px;
        width: 100%;
        background: url('/img/heroImage.jpg') no-repeat center;
        background-size: cover;
        .slogan h1 {
            color: white;
            text-align: left;
            text-transform: uppercase;
        }
    }
